[LockIn]
SignalLockInPort = /dev/ttyUSB2
ReferenceLockInPort = /dev/ttyUSB3

[Monochromator]
MonochromatorPort = /dev/ttyUSB1

[config]
GUI = False
OutputFile = results/sample
InstructionFile = instructions/play.inst

[XYZ_Scanner]
XYZ_ScannerPort = /dev/ttyUSB4
XYZ_ScannerSafetyZone = [0, 100]

[RotationalPlatform]
RotationalPlatformPort = /dev/ttyUSB0

